*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// .first{
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     padding: 0 4rem;
//     .box{
//         width: 30%;
//         margin-top: 20px;
//         img{
//             width: 100%;

//         }
//     }
// }